# Discord
DISCORD_TOKEN=
CONFIG_NAME=production

# Snail persistence
SNAIL_MONGO_URI=

# OwO services
OWO_MYSQL_URI=
OWO_MONGO_URI=
OWO_REDIS_URL=
OWO_API_URI=
OWO_API_PASSWORD=

# Knowledge Base services
QDRANT_URL=
QDRANT_API_KEY=
OPENROUTER_API_KEY=

# Performance monitoring
ELASTIC_AGENT_URL=
